.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        body {
            background-color: #ECE0D1; /* Tactile Background from Style Guidance */
            scroll-behavior: smooth;
        }
        .text-brown-tint { color: #38220F; }
        .bg-card-surface { background-color: #FFFFFF; }
        .soft-shadow { box-shadow: 0 10px 30px -5px rgba(56, 34, 15, 0.08); }
        .parallax-section {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
